<!doctype html>
<html>

<head>
	<title>Shopping Cart Term Project</title>
	<link rel="stylesheet"  type="text/css" href="/css/style.css"> 
</head>

<body>
	<header>
		<img src="/images/flowerlogo.jpg" alt="logo" class="site-logo">
	</header>
	<h3> Zully's Makeup Store</h3>
	<a href="/account">Account</a> |
	<a href="/shop">All products</a> |
	<a href="/mid">Lookup By MakeupId</a> | <a href="/mname">Lookup By MakeupName</a> | <a href="/price">Lookup By
		Price</a> |
	<a href="/bid">Lookup By Brand Id</a> |
	<a href="/bname">Lookup By Brand Name</a> |
	<a href="/orders">Order History</a> |
	<a href="/cart">Shopping Cart</a> |
	<a href="/admin">Admin</a>

	<hr />

	{{{body}}}

</body>

</html>