{{#if messages}}
  <h3>Error : {{ messages }}</h3>
{{/if}}

<h3>Login Page</h3>
<form action="/login" method="post">
  Username:  <input type="text"     name="username" required><p>
  Password:  <input type="password" name="password" required><p></p>
  <button type="submit">Submit</button>
</form>

<a href="/register">Create an account</a>