<b>Lookup By Makeup Id</b>
<p></p>
<form method="POST" action="/mid">
	
	<label for="id">Makeup Id:</label>
	<input  type="text" name="id" size="30">
	<p></p>
  	<input type="submit"/>
   
</form>