<b>Lookup By Makeup Name</b>
<p></p>
<form method="POST" action="/mname">
	
	<label for="id">Makeup Name:</label>
	<input  type="text" name="name" size="30">
	<p></p>
  	<input type="submit"/>
   
</form>