<b>Lookup By Brand Name</b>
<p></p>
<form method="POST" action="/bname">
	
	<label for="id">Brand Name:</label>
	<input  type="text" name="name" size="30">
	<p></p>
  	<input type="submit"/>
   
</form>