<b>Lookup By Brand Id</b>
<p></p>
<form method="POST" action="/bid">
	
	<label for="id">Brand Id:</label>
	<input  type="text" name="id" size="30">
	<p></p>
  	<input type="submit"/>
   
</form>